@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

body{
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

#pregame-wrapper{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 100vh;
    background-color: #20add8;

    .player-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
        background-color: #f6a0eb9c;
        
        .token{
            display: flex;
            justify-content: center;
            font-size: 10em;
            color: whitesmoke;
            background-color: #f8afc3;
            width: 107%;
            border-radius: 25px;
            box-shadow: -1px 2px 56px -14px rgba(0,0,0,0.75);
        }

        .player-name{
            display: flex;
            flex-direction: column;
            font-size: 2em;

            input{
                font-size: 1em;
                border-radius: 10px;
                border: none;
                border-bottom: 3px solid transparent;
                padding: 5px;
                margin-top: 10px;
                transition: 0.3s;

                &:focus-visible{
                    outline: none;
                    border-bottom: 3px solid #120907;
                    box-shadow: 7px 10px 29px -3px rgba(0,0,0,0.5);
                }
            }
        }
    }

    .right-column{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .left-column{
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .middle-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 6em;
            color: white;
        }

        #submit-names{
            font-family: 'Roboto Slab', sans-serif;
            font-size: 2em;
            border: none;
            cursor: pointer;
            padding: 10px 35px;
            border-radius: 10px;
            background-color: #f4de96;
            transition: 0.3s;

            &:hover{
                box-shadow: -1px 2px 55px -28px rgba(0,0,0,0.75) inset;
            }
        }
    }
}

// GAME BOARD STYLES
.game-board{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    gap: 5px;

    .game-tile{
        font-family: 'Passion One', sans-serif;
        font-size: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        cursor: pointer;
    }
}
//INACTIVE
.inactive {
    display: none !important;
}